{% extends "index.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Switcher</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        img {
            max-width: 80%;
            height: auto;
            margin: 20px auto;
        }
        form {
            margin-top: 20px;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='images/' + current_image) }}" alt="Station Image">
    <form method="POST">
        <button type="submit" name="action" value="base_stations">Просмотр базовых станций</button>
        <button type="submit" name="action" value="station_radii">Просмотр радиусов станций</button>
        <button type="submit" name="action" value="research_stations">Просмотр исследовательских станций</button>
    </form>
</body>


{% endblock %}